{{ ansible_managed | comment }}
---
global:
  checkNewVersion: true
  sendAnonymousUsage: false

log:
  level: INFO

accessLog:
  addInternals: true

entryPoints:
  http:
    address: ":80"
  https:
    address: ":443"

api:
  insecure: true
  dashboard: true

providers:
  docker:
    exposedByDefault: false

certificatesResolvers:
  http01:
    acme:
      httpChallenge:
        entryPoint: http
      storage: /letsencrypt/acme.json
